html {
    display: block;


}

div {
    display: block;
}

head {
    display: none;
}

header {
    display: block;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#app {
    border: 1px solid
}