.main {
    border: 1px solid;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50%;
}

table {
    border: 1px solid;

}

.cell {
    outline: 1px solid black;
    width: 20px;
    height: 20px;

}

.right-bar {
    border: 1px solid;

    margin: 25px;
    text-align: center;
    display: inline;
}

.options {
    border: 1px solid;
    width: 50%;
    margin: 25px;
}