html {
    color: black;
    text-emphasis: bold;
      
}

button {
    padding: 5px;
    margin: 2%;
    border-radius: 12px;
}
 
.main {
    border: 10px solid purple;
    background-color: teal;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

table {
    
    padding: 10px;
    height: auto;
   

}

.cell {
    outline: 1px solid goldenrod;
    width: 20px;
    height: 20px;
    

}

.right-bar {
    margin: 25px;
    text-align: center;
    display: inline;
}

.options {
    width: 50%;
    margin: 2px;
}

.d-flex {
    padding: 20px;
    align-items: center;
}